

<script type="text/javascript" src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

<link rel="stylesheet" href="{{ "/js/fancybox/source/jquery.fancybox.css" | prepend: site.baseurl }}" type="text/css" media="screen" />

<script type="text/javascript" src="{{ "/js/fancybox/source/jquery.fancybox.pack.js" | prepend: site.baseurl }}"></script>


<script type="text/javascript" src="{{ "/js/jquery.isotope.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
