<header class="header" role="banner">

<a href="http://pzwart3.wdka.hro.nl/news-from-nowhere/" class="brand" rel="home">
		<style>
			.fadein img { position:absolute; left:0; top:0; }
		</style>
		<div class="fadein" style="position:relative;margin-left:-8px;margin-top:-15px;">



		<img style="top: -6px; display: block;" src="/imgs/W3.png"><img src="/imgs/W1.png" style="display: none;"><img src="/imgs/W2.png" style="display: none;"></div>
		<!-- <h1>News from Nowhere</h1> -->

		<div style="width: 400px;position:absolute;top:160px;left:435px;text-transform:uppercase;">
			Piet Zwart Institute - Media Design &amp; Communication
			<br>
			GRaduation projects 2013
		</div>

	</a>
</header>



